/* ==================================================
  About InventChip Styling
  ================================================== */
section.about {
    padding: 200px 0;
}

@media (max-width: 61.9em) {
    section.about {
        padding: 90px 0;
    }
}

/* ==================================================
  招聘信息样式
  ================================================== */

section.bg-gradient-vertical {
    background-image: -moz-linear-gradient(90deg, #000428 0%, #004e92 100%);
    background-image: -webkit-linear-gradient(90deg, #000428 0%, #004e92 100%);
    background-image: -ms-linear-gradient(90deg, #000428 0%, #004e92 100%);
}

.join,
.join p,
.more a {
    color: #fff;
}

.panel-group .panel {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    border: none;
}

.panel-group .panel .panel-heading {
    background-color: transparent;
    color: white;
}

.panel-title {
    line-height: 2em;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
     border: 0px;
}

.jobmore {
    width: 100%;
    text-align: right;
    margin: 0;
}

