/* ==================================================
  About InventChip Styling
  ================================================== */

section.about {
    padding: 200px 0;
}

@media (max-width: 61.9em) {
    section.about {
        padding: 90px 0;
    }
}

a:hover {
    cursor: pointer;
}

.adcaption {
    font-size: 18px;
}

/*行业应用*/
.portfolio-over h3{
    margin: 0;
}

/* ==================================================
  招聘信息样式
  ================================================== */

section.bg-gradient-vertical {
    background-image: -moz-linear-gradient(90deg, #000428 0%, #004e92 100%);
    background-image: -webkit-linear-gradient(90deg, #000428 0%, #004e92 100%);
    background-image: -ms-linear-gradient(90deg, #000428 0%, #004e92 100%);
}

.join,
.join p,
a.more,
.footer-nav ul li a,
a.title,
.footer-nav {
    color: #fff;
}

.panel-group .panel {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    border: none;
}

.panel-group .panel .panel-heading {
    background-color: transparent;
    color: white;
}

.panel-title {
    line-height: 2em;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
     border: 0px;
}

/*招聘信息*/
.jobmore {
    width: 100%;
    text-align: right;
    margin: 0;
}
/*首页底部footer*/
.footer-nav ul li {
    list-style: none;
}

.footer-nav ul li a:hover,
a.title:hover {
    color: rgba(255, 255, 255, 0.75);
}

.footer-nav ul li:first-child {
    margin-bottom: 15px;
}

.joblist {
    margin-left: 2em;
}

.joblist > li {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*scrolltop 按钮*/

.scrolltop span {
    vertical-align: middle;
}

/* ==================================================
  about 页面样式
  ================================================== */
body {
    background-color: #edf6ff;
}

.selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.banner {
    height: 250px;
    background-image: url("../img/cover3.jpg");
    background-size: cover;
}

.content {
    min-height: 800px;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.panel > a.panel-heading:hover {
    color: #fff !important;
    background-color: rgba(0,78,149, 0.7);
    border-right-color: transparent;
}

.nav-tabs > li > a {
    border-radius: 4px 0 0 4px;
}

.nav-tabs > li:hover,
.nav-tabs > li > a:hover {
    background-color: #fff;
    border: none;
}

.margin-bottom-2em {
    margin-bottom: 2em !important;
}

/* ==================================================
  about 页面-时间轴
  ================================================== */

#timeline {
    list-style: none;
    position: relative;
}
#timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #4997cd;
    left: 50%;
    margin-left: -1.5px;
}
#timeline .clearFix {
    clear: both;
    height: 0;
}
#timeline .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -25px;
    background-color: #4997cd;
    z-index: 10;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
    font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
    font-size: .7em;
    position: relative;
    top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
    background-color: #ffffff;
    font-size: 1.7em;
    height: 35px;
    margin-left: -18px;
    width: 35px;
    top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
    color: #4997cd;
    font-size: 1.3em;
    top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    font-size: 1.7em;
    top: -16px;
    margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
    color: #4997cd;
    font-size: .9em;
    top: 2px;
    left: 1px;
}
#timeline .timeline-movement {
    /*border-bottom: dashed 1px #4997cd;*/
    position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
    height: 60px;
}
#timeline .timeline-movement .timeline-item {
    padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #666;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
    text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
    color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
    color: rgb(0,78,149);
    font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
    text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
    color: rgb(0,78,149);
    font-size: 1.3em;
}

.timeline-day {
    display: block;
}

/* ==================================================
  about 页面-行业信息
  ================================================== */

.color-black,
a.panel-heading {
    color: #000 !important;
}

.pagination a,
.pagination span {
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid #004e92;
    color: #004e92;
}

.pagination a:hover,
.pagination span:hover {
    cursor: pointer;
}

/* ==================================================
  application 页面
  ================================================== */
.caption {
    line-height: 3em;
    font-size: 24px;
}

/*.caption div {*/
    /*font-size: 24px;*/
/*}*/
